body {
    background-color: #f5f6fa;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.home-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
}

.home-container h1 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 40px;
}

.posts-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post-card {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
    transition: transform 0.2s;
}


.post-card h2 {
    margin-top: 0;
    color: #34495e;
}

.post-date {
    font-size: 0.85em;
    color: #888;
    margin-bottom: 10px;
}

.delete-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #c0392b;
}

.edit-button {
    background-color:#27ae60;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.edit-button:hover {
    background-color: #219150;
}
