.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}


.back-button {
    display: inline-block;
    background-color: #27ae60;
    color: #fff;
    padding: 8px 18px;
    border-radius: 18px;
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    transition: background 0.2s, color 0.2s, transform 0.2s;
}

.back-button:hover {
    background-color: #219150;
    color: #fff;
    transform: translateY(-2px);
}