{% load static %}
<!DOCTYPE html>
<html>
<head>
{#    <title>{% block title %}title{% endblock %}</title>#}
    <link rel = "stylesheet" href="{% static 'base.css' %}">
</head>

{% block head %} {% endblock %}

<body>
    <div class="sidebar">
        <form method="POST" action="{% url 'logout' %}" >
            {% csrf_token %}
            <button type="submit" class="logout-button">Logout</button>
        </form>
        <a href="{% url 'createPost' %}">
            <button class="big-white-label">Create post</button>
        </a> 
    </div>
    {% block content %}

    {% endblock %}
</body>
</html>
