{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="logout-button">Logout</button>
        </form>
        <a href="{% url 'home' %}" class="big-white-label">Home</a>
        <a href="{% url 'createPost' %}" class="big-white-label">Create post</a>
        <form method="POST" action="{% url 'search_user' %}" class="search-wrapper">
            {% csrf_token %}
            <input type = "search" placeholder="Search for other users " name="searched" class="search-input">
            <button type="submit" class="search-button">Search</button>
        </form>
    </nav>

    <div class="content">
      {% block content %}{% endblock %}
    </div>
</body>
</html>
