{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'search.css' %}">
{% endblock %}

{% block content %}
    <div class = 'search-container'>
        <h2>People who follow {{ profile.user.username }}</h2>
            <div class="user-list">
                {% for User in followers %}
                    <div class="user-item">
                        <a href='{% url "profile" User.user.profile.id %}' class="profile-link">{{ User.user.username }}</a>
                    </div>
                {% endfor %}
            </div>
    </div>
{% endblock %}

