{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block content %}
  <div class="home-container">
    <h1>Welcome, {{ username }}!</h1>

    {% if posts %}
      <div class="posts-container">
        {% for post in posts %}
          <div class="post-card">
            <h2>{{ post.title }}</h2>
            <p class="post-date">{{ post.date_posted|date:"Y-m-d H:i" }}</p>
            <p>{{ post.content}}</p>
            <form  method = "POST"  action="{% url 'deletePost' post.id%}">
                {% csrf_token %}
                <button class = "delete-button" >Delete </button>
            </form> 
            <button class = "edit-button" >Edit </button>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>You haven't written any posts yet.</p>
    {% endif %}
  </div>
{% endblock %}
