{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'profile.css' %}">
{% endblock %}

{% block content %}
    <div class="home-container">
      {% if posts %}
        <div class="posts-container">
          {% for post in posts %}
            <div class="post-card">
              <h2 class="post-title">
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
              </h2>
              <p class="post-author"> {{ post.user.username }} </p>
              <p class="post-date">{{ post.date_posted|date:"Y-m-d H:i" }}</p>
              <p>{{ post.content }}</p>
          {% endfor %}
            </div>
        </div>
      {% else %}
        <div class="empty-state">
          <p>You aren’t following anyone.</p>
        </div>
      {% endif %}
    </div>
{% endblock %}
