{% extends 'base.html' %}
{% load static %}

{% block head %}
      <link rel="stylesheet" href="{% static 'profile.css' %}">
{% endblock %}



{% block content %}
    <div class = "home-container">
      <div class="posts-container">
          <div class="post-card">
            <h2>{{ post.title }}</h2>
            <p class="post-date">{{ post.date_posted|date:"Y-m-d H:i" }}</p>
            <p>{{ post.content}}</p>
            <form method="Post" action="{% url 'CreateComment' post.id %}" style="display:inline">
                {% csrf_token %}
                {{ form }}
                <button class="edit-button" type="submit">Add comment</button>
            </form>
             {% if comments %}
                 {% for comment in comments %}
                     {{ comment.author }}
                     {{ comment.content }}
                 {% endfor %}
             {% else %}
                 This post has no comments
             {% endif %}
          </div>
      </div>
    </div>
{% endblock %}