{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block content %}
    <div class="home-container">
      <h1>{{ profile.user.username }}'s profile</h1>
      <form method="POST" class = "follow-form">
          {% csrf_token %}
          {% if profile in user.profile.follows.all %}
              <button name ="follow" value="unfollow" type="submit" class="follow-btn unfollow"> unfollow {{ profile.user.username }}</button>
          {% else %}
              <button name ="follow" value="follow" type="submit" class="follow-btn follow"> follow {{ profile.user.username }}</button>
          {% endif %}
      </form>
      {% if posts %}
        <div class="posts-container">
          {% for post in posts %}
            <div class="post-card">
              <h2 class="post-title">
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
              </h2>
              <p class="post-date">{{ post.date_posted|date:"Y-m-d H:i" }}</p>
              <p>{{ post.content }}</p>
          {% endfor %}
            </div>
        </div>
      {% else %}
        <div class="empty-state">
          <p>He hasn't written any posts yet.</p>
        </div>
      {% endif %}
    </div>
{% endblock %}
