{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'search.css' %}">
{% endblock %}

{% block content %}
  <div class="search-container">
    {% if searched %}
      <p>You searched for: <strong>{{ searched }}</strong></p>
      <div class="user-list">
        {% for user in users %}
          <div class="user-item">
            <a href='{% url "profile" user.profile.id %}' class="profile-link">{{ user.username }}</a>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>You forgot to search a user!</p>
    {% endif %}
  </div>
{% endblock %}
